
<div class="container-fluid fondo">
<div class="container-fluid information">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
          <div class="text-bg">
          <h1>Pipay Online Banking</h1>
          <h3>Realizá tus operaciones de forma fácil y rápida</h3>
          <br /><button type="button" class="btn ingresar hover-top">
            INGRESAR
          </button>
        </div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
          <div class="images_box">
            <!-- https://technext.github.io/potoub/images/img2.png -->
          <img src="https://i.ibb.co/w0ZBKC8/Webp-net-resizeimage.png" class="d-block w-100" alt="...">
        </div>
      </div>
      </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="container-fluid">
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
          <div class="text-bg">
          <h1 id="titulo">Hacete Pipay</h1><br>
          <h3>Una propuesta sin trámites molestos, pérdida de tiempo y a tu medida</h3>
          <br /><button type="button" class="btn ingresar hover-top" routerLink="/registro">
            HACETE CLIENTE
          </button>
        </div>
      </div>
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
          <div class="images_box">
            <!-- https://technext.github.io/seos/assets/img/hero/hero_right.png -->
            <img src="https://i.ibb.co/5Fm6CsF/Sacar-Fondo2.png" class="d-block w-100 segunda_foto" alt="...">
          </div>        
        </div>
      </div>
    </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>

<div class="container-fluid services">
<section class="py-5">
  <div class="bg-holder d-none d-sm-block" style="background-position:right top;background-size:200px 320px;"></div>
  <!--/.bg-holder-->
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-6 text-center mb-3 text-bg">
        <h2 class="lh-sm mb-3 text-op">OPERACIONES PRINCIPALES</h2>
      </div>
    </div>
    <div class="row flex-center h-100">
      <div class="col-10 col-xl-9">
        <div class="row">
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/4dcPSfJ/invoices.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Pago de servicios</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/4p0CSHd/transfer.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Transferencias</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/wRDhN6S/cripto.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Criptomoneda</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/H7gZGXZ/profits.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Inversiones</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/KjrLhPZ/cambio-de-dinero-en-dolares.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Dolares</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 pb-lg-6 px-lg-4 pb-4">
            <div class="card py-4 shadow-sm h-100 hover-top">
              <div class="text-center"> <img class="funciones" src="https://i.ibb.co/kGkfVL9/users.png" height="120" alt="" />
                <div class="card-body px-2">
                  <h6 class="fw-bold fs-1 heading-color">Movimientos de cuentas</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row flex-center">
      <button type="button" class="btn ingresar-op hover-top">
        INGRESAR
      </button>
    </div>
  </div>
</section>
</div>

<div class="container-fluid mobile">
<div class="bloque-APP">
  <div class="border-1">
    <h1>Descrubrí todo lo que podes hacer con la App Pipay</h1>
    <p>Consultá, pagá, transferí, invertí y mucho más</p>
  </div>
  <div class="border-2">
    <img src="https://i.ibb.co/pKZjWh8/4637195.jpg" alt="">
  </div>
</div>
</div>
</div>

