  <div class="container-fluid inicio home-section">
    <h1 class="tit-inicio">Inicio</h1>
    <div class="ctas text">
        <p class="ppal">Tu cuenta principal</p>
        <div class="cta-ppal">
            <div class="contenido">
                <div class="logo-ppal">
                    <p class="nombre-ppal">CA$</p>
                </div>
                <p class="money-ppal">$50.000,00</p>

                <p class="caja-ppal">Caja Ahorro Pesos</p>
                <a routerLink="/paginaprincipal/detalles" class="datos">Ver detalle</a>
            </div>
        </div>
        <p class="otras-ctas">Tus otras cuentas</p>
        <div class="cta-dolares">
            <div class="logo-dol">
                <p class="nombre-dol">U$D</p>
            </div>
            <p class="money-dol">U$D 365,68</p>
            <p class="caja-dol">Caja Ahorro Dolares</p>
            <a class="datos-dol" routerLink="/paginaprincipal/detalles">Ver detalle</a>
            <br>
        </div>

        <div class="cta-ctu">
            <div class="logo-ctu">
                <p class="nombre-ctu">CTU</p>
            </div>
            <p class="money-ctu">CTU 65</p>
            <p class="caja-ctu">Caja Ahorro Criptomoneda</p>
            <a href="" class="datos-ctu">Ver detalle</a>
            <br>
        </div>
    </div>
    <div class="list-mov text">
     <select name="mov" id="mov" class="bg-light" class="btn-mov">
            <option value="egreso" selected>Egresos de dinero</option>
            <option value="ingreso">Ingreso de dinero</option>
            <option value="todos">Todos los movimientos</option>
        </select>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descipcion</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>