
<nav class="navbar navbar-expand-lg header2 bg-success-gradiant">
    <div class="container-fluid h2-nav">
      <a class="navbar-brand" href="#"><img src = "../../assets/img/logo.png" width="100" height="45"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="BottonCollapser">
        <i class="fas fa-bars " id="IconoCollapser" ></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="text-align: start;">
            <li class="nav-item active" ><a class="nav-link" routerLink="">Inicio</a></li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Servicios<i class="fas fa-angle-down" id="IconoServicios"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Tu cuenta en AR$</a></li>
                <li><a class="dropdown-item" href="#">Tu cuenta en U$D</a></li>
                <li><a class="dropdown-item" href="#">Pago de servicios</a></li>
                <li class="divider" role="separator"></li>
                <li><a class="dropdown-item" href="#">Inversiones</a></li>
                <li class="divider" role="separator"></li>
                <li><a class="dropdown-item" href="#">Criptomonedas</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" id="TitulosNav">Nosotros</a></li>
          <li class="nav-item"><a class="nav-link" id="TitulosNav">Contacto</a></li>
        </ul>
        <ul class="navbar-nav" id="ullogin">
            
            <li class="nav-item active" id="TitulosNav"><a class="nav-link" routerLink="/registro" >Crear cuenta</a></li>
            <li class="nav-item"><a class="btn rounded-pill btn-dark py-2 px-4" routerLink="/login" >Login</a></li>
        </ul>
      </div>
    </div>
  </nav>