<body>
    
      <!-- seleccion de transferencia -->
      <div class="container-fluid home-section">
        <div class="volver row" style="margin-left: 0;">
          <div>
              <a routerLink="/paginaprincipal/transferencia">
              <i class='bx bx-arrow-back arrow'></i>
              <span class="links_name">Volver</span>
              </a>
          </div>
          <span class="titulo-sup"> Transferencia a un contacto </span>
        </div>
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-op btn-ingresar"
              data-bs-toggle="collapse"
              data-bs-target="#collapseIngresar"
              aria-expanded="false"
              aria-controls="collapseExample"
              
              
            >
              Ingresar dinero
            </button>
          </div>
          <div class="col">
            <button
              type="button"
              class="btn btn-op btn-retirar"
              data-bs-toggle="collapse"
              data-bs-target="#collapseRetirar"
              aria-expanded="false"
              aria-controls="collapseExample"
            >
              Retirar dinero
            </button>
          </div>
        </div>
      
        <!-- Ingresar dinero -->
         <div class="ingreso" class="collapse" id="collapseIngresar" >
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="operacionForm" (ngSubmit)="ingresar()" class="row g-3 rounded" style="margin-bottom: 10%; margin-right: 10%; color: #5b1c4b">
                <div class="wrapper bg-white mt-sm-5">
                  <h6 class="text-uppercase">Ingresar Dinero</h6>
                  
                  <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required"> <span>Nombre de Titular</span> </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="inputbox mt-3 mr-2"> <input type="numbet" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Número de la tarjeta</span> </div>
                      </div>
                      <div class="col-md-6">
                          <div class="d-flex flex-row">
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>Expira</span> </div>
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>CVV</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="mt-4 mb-4">
                      <h6 class="text-uppercase">Dirección</h6>
                      <div class="row mt-3">
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Calle</span> </div>
                          </div>
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Ciudad</span> </div>
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Provinacia</span> </div>
                          </div>
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>Codigo Postal</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="mt-4 mb-4">
                    <h6 class="text-uppercase">Monto a Ingresar</h6>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required" formControlName="monto"><i class="fas fa-money-bill-wave"></i>  <span>Monto</span> </div>
                        </div>
                        
                    </div>
                    
                </div>
              </div>
              <div class="mt-4 mb-4 d-flex justify-content-between"> <span></span> <button class="btn btn-success px-3" type="submit">Confirmar</button> </div>
               
              </form>
            </div>
           
          </div>
         </div>
      
        <!-- Retirar dinero -->
        <div class="ingreso" class="collapse" id="collapseRetirar" >
          <div class="row">
            <div class="col-md-8">
              <form [formGroup]="operacionForm" (ngSubmit)="retiro()" class="row g-3 rounded" style="margin-bottom: 10%; margin-right: 10%; color: #5b1c4b">
                <div class="wrapper bg-white mt-sm-5">
                  <h6 class="text-uppercase">Retirar Dinero</h6>
                  
                  <div class="inputbox mt-3"> <input type="text" name="name" class="form-control" required="required"> <span>Nombre de Titular</span> </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="inputbox mt-3 mr-2"> <input type="numbet" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Número de la tarjeta</span> </div>
                      </div>
                      <div class="col-md-6">
                          <div class="d-flex flex-row">
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>Expira</span> </div>
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>CVV</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="mt-4 mb-4">
                      <h6 class="text-uppercase">Dirección</h6>
                      <div class="row mt-3">
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Calle</span> </div>
                          </div>
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Ciudad</span> </div>
                          </div>
                      </div>
                      <div class="row mt-2">
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Provinacia</span> </div>
                          </div>
                          <div class="col-md-6">
                              <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required"> <span>Codigo Postal</span> </div>
                          </div>
                      </div>
                  </div>
                  <div class="mt-4 mb-4">
                    <h6 class="text-uppercase">Monto a Ingresar</h6>
                    <div *ngIf="saldo" class="alert alert-danger">No se puede realizar la operación, saldo insuficiente</div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2"> <input type="number" name="name" class="form-control" required="required" formControlName="monto"><i class="fas fa-money-bill-wave"></i>  <span>Monto</span> </div>
                        </div>
                        
                    </div>
                    
                </div>
              </div>
              <div class="mt-4 mb-4 d-flex justify-content-between"> <span></span> <button class="btn btn-success px-3" type="submit">Confirmar</button> </div>
               
              </form>
            </div>
           
          </div>
         
        </div>
      </div>
      
    
  
  
</body>



  