
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">PIPAY WALLET</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
        <a href="">
            <i class='bx bx-home'></i>
            <span class="links_name">Inicio</span>
        </a>
        <span class="tooltip">Inicio</span>
      </li>
     <li>
        <a href="">
            <i class='bx bx-transfer'></i>
            <span class="links_name">Transferencias</span>
        </a>
        <span class="tooltip">Transferencias</span>
     </li>
     <li>
        <a href="">
            <i class='bx bx-home'></i>
            <span class="links_name">Pagos de servicios</span>
        </a>
        <span class="tooltip">Pago de servicios</span>
     </li>
     <li>
        <a href="">
            <i class='bx bx-dollar-circle'></i>
            <span class="links_name">Compra/Venta Dólares</span>
        </a>
        <span class="tooltip">Compra/Venta Dólares</span>
     </li>
     <li>
       <a href="">
        <i class='bx bx-bitcoin' ></i>
        <span class="links_name">Compra/Venta Cripto</span>
    </a>
    <span class="tooltip">Compra/Venta Cripto</span>
     </li>
     <li>
       <a href="#">

        <i class='bx bx-home'></i>
        <span class="links_name">Inversiones</span>
    </a>
    <span class="tooltip">Inversiones</span>
     </li>
     <li class="profile">
      <div class="profile-details">
        <img src="no-image.jpg" alt="profileImg">
        <div class="name_job">
          <div class="name">Nombre</div>
          <div class="job">Apellido</div>
        </div>
      </div>
      <i class='bx bx-log-out' id="log_out" ></i>
  </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Home</div>
  </section>


