<app-header></app-header>
<div class="wrapper bg-white mt-sm-5">
    
    <h4 class="pb-4 border-bottom">Datos de Usuario</h4>
    <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlUvSN8kFRl3ADkH6SYy3c3utUKrdNH5Z-Ew&usqp=CAU" class="img" alt="">
        <div class="pl-sm-4 pl-2" class="imagen-seccion"id="img-section"> <b>Foto de Usuario</b>
            <p>Solo se aceptan archivos menores a 1MB</p> <button class="btn button border"><b>Upload</b></button>
        </div>
    </div>
    <div class="py-2">
        <div class="row py-2">
            <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text" class="bg-light form-control" placeholder="Nombre.."> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">Apellido</label> <input type="text" class="bg-light form-control" placeholder="Apelido.."> </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6"> <label for="email">Correo Electronico</label> <input type="text" class="bg-light form-control" placeholder="Email@hotmail.com.."> </div>
            <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Telefono Celular</label> <input type="tel" class="bg-light form-control" placeholder="+54 9 351 1234-456"> </div>
        </div>
        <div class="row py-2">
            <div class="col-md-6"> <label for="country">Pais</label> <select name="country" id="country" class="bg-light">
                    <option value="india" selected>Argentina</option>
                    <option value="usa">Chile</option>
                    <option value="uk">Uruguay</option>
                    <option value="uae">Colombia</option>
                </select> </div>
            <div class="col-md-6 pt-md-0 pt-3" id="lang"> <label for="language">Sexo</label>
                <div class="arrow"> <select name="language" id="language" class="bg-light">
                        <option value="english" selected>Masculino</option>
                        <option value="english_us">Femenino</option>
                        <option value="enguk">Sin especificar</option>
                        
                    </select> </div>
            </div>

            <div class="py-2">
                <div class="row py-2">
                    <div class="col-md-6"> <label for="Provincia..">Provincia</label> <input type="text" class="bg-light form-control" placeholder="Provincia.."> </div>
                    <div class="col-md-6 pt-md-0 pt-3"> <label for="Direccion..">Direccion</label> <input type="text" class="bg-light form-control" placeholder="Direccion.."> </div>
                </div>
                <div class="row py-2">
                    <div class="col-md-6"> <label for="email">Correo Electronico</label> <input type="text" class="bg-light form-control" placeholder="Email@hotmail.com.."> </div>
                    <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Telefono Celular</label> <input type="tel" class="bg-light form-control" placeholder="+54 9 351 1234-456"> </div>
                </div>
        <a href="#" class="btn-neon">
            <span id="span1"></span>
            <span id="span2"></span>
            <span id="span3"></span>
            <span id="span4"></span>
             GUARDAR CAMBIOS
        </a>
</div>