<div class="volver">
    <a routerLink="/paginaprincipal/transferencia">
        <i class='bx bx-arrow-back arrow'></i>
        <span class="links_name">Volver</span>
    </a>
</div>
<div class="container-fluid home-section">
    <span class="titulo"> Transferir desde </span>
    <div class="dropdown listaCuenta">
        <select name="mov" id="mov" class="bg-light" class="btn-mov" style="background-color: #591E4A; color:white">
            <option value="pesos" selected>CA $ N° 4017421-1 - $50.000,00</option>
            <option value="dolares" selected>CA $ N° 4017421-2 - U$D 500</option>
            <option value="cripto" selected>CA $ N° 4017421-3 - CTU 165</option>
        </select>
    </div>
    <span class="text-quien">¿A quién le querés transferir?</span>
    <div class="iputs row">
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"></mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingresa el ALIAS</mat-label>
                <input matInput placeholder="MARTA.RUIZ" value="">
            </mat-form-field>
        </div>
        <div>
            <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="1"> </mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Ingresa el CBU o CVU</mat-label>
                <input matInput placeholder="123548763" value="">
            </mat-form-field>
        </div>

    </div>

    <label class="label-dinero">¿Cuánto dinero querés enviar?</label>
    <div class="imput-dinero">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>$0.00</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </div>
    <label class="concepto">Concepto</label>
    <div class="dropdown listaConcepto">
        <select name="mov" id="mov" class="bg-light" class="btn-mov" style="background-color: #591E4A; color:white">
            <option value="varios" selected>Varios</option>
            <option value="alquiler" selected>Alquileres</option>
            <option value="cuota" selected>Cuota</option>
            <option value="expensas" selected>Expensas</option>
            <option value="factura" selected>Factura</option>
            <option value="prestamo" selected>Prestamo</option>
        </select>
    </div>
    <label class="label-mensaje">
        Mensaje (opcional)
    </label>
    <div class="imput-mensaje">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Escribí un comentario</mat-label>
            <input matInput placeholder="" value="">
        </mat-form-field>
    </div>

    <button type="button" class="btn btn-primary btn-transferir">Transferir</button>
</div>