.tit-transfer{
    width: 213px;
    height: 60px;
    left: 304px;
    top: 28px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    color: #000000;
}
.transferir{
    width: 1117px;
    height: 233px; 
}
.tit-donde{
    width: 503px;
    height: 40px;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;  
}
.otra-cuenta{
    width: 425px;
    height: 85px;
    margin-left: 45px;
    border: 1px solid #591E4A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.log-otra-cuenta{
    width: 98px;
    height: 61px;
    margin: 10px;
    background: #591E4A;  
}
.txt-otra-cuenta{
    width: 269px;
    height: 58px;
    margin-left: 118px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;  
    margin-top: -51px
}
.mis-cuentas{
    width: 425px;
    height: 85px;
    margin-top: -87px;
    margin-left: auto;
    border: 1px solid #591E4A;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.log-mis-cuentas{
    width: 98px;
    height: 61px;
    margin: 10px;
    background: #591E4A;  
}
.txt-mis-cuentas{
    width: 269px;
    height: 58px;
    margin-left: 118px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;  
    margin-top: -51px
}
.contacts{
    width: 1102px;
    height: 562px;
    left: 308px;
    top: 405px;      
}
.tit-contacts{
    width: 503px;
    height: 40px;
    left: 302px;
    top: 402px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 42px;
    display: flex;
    align-items: center;  
}
.contact-list{
    margin-left: 45px;
}
.form-check{
    margin-top: 30px;
}
.line{
    color: #591E4A;
    height: 3px;
}
.btn-transferir{
    margin-top: 30px;
    border-color: #591E4A;
}
.btn-transferir:hover{
    color: #fff;
    background-color: #591E4A;
}
.bank{
    height: 51px;
    margin-left: 21px;
    margin-top: 4px;
}
.arrow{
    height: 51px;
    margin-left: 21px;
    margin-top: 4px;
}