<div class="container-fluid transfer">
    <h2 class="tit-transfer">Transferencias</h2>
    <div class="transferir">
        <p class="tit-donde">¿A dónde querés transferir?</p>
        <div class="otra-cuenta">
            <div class="log-otra-cuenta">
                <p class="txt-otra-cuenta">
                    A otra cuenta con Alias, CBU o CVU
                </p>
            </div>
        </div>
        <div class="mis-cuentas">
            <div class="log-mis-cuentas">
                <p class="txt-mis-cuentas">
                    A una de mis cuentas Pipay
                </p>
            </div>
        </div>
    </div>

    <div class="contacts">
        <p class="tit-contacts">A uno de mis contactos</p>
    </div>
</div>