<body>
    
   
    <div class="container-fluid home-section">
        
            <div class="volver row">
                <div>
                    <a routerLink="/paginaprincipal/transferencia">
                    <i class='bx bx-arrow-back arrow'></i>
                    <span class="links_name">Volver</span>
                    </a>
                </div>
                <span class="titulo-sup"> Transferencia a otra cuenta </span>
            </div>
        
        <!-- seleccion de transferencia -->
        <div class="wrapper bg-white mt-sm-5">
            <span class="titulo border-bottom" style="margin-bottom: 10px;"> Transferir desde </span>
            <div class="dropdown listaCuenta">
                <select name="mov" id="mov" class="bg-light" class="btn-mov" style="background-color: #591E4A; color:white">
                    <option value="pesos" selected>CA $ N° 4017421-1 - $50.000,00</option>
                    <option value="dolares" selected>CA $ N° 4017421-2 - U$D 500</option>
                    <option value="cripto" selected>CA $ N° 4017421-3 - CTU 165</option>
                </select>
            </div>
            <div class="iputs row">
                <label class="label" for="alias">

                    <span class="span-txt">Alias</span>
                    <input  class="input" type="text" id="alias" placeholder="Alias">
                    
                </label>
                <div class="row">
                    <label class="label" for="cvu">
                        <span class="span-txt">Cvu/CBU</span>
                        <input  class="input" type="text" id="cvu" placeholder="Cvu/CBU">
                        
                    </label>
                </div>
                
                
               
                
            </div>
           
        </div>
      
            
        
        <!-- Dinero -->
        <div class="wrapper bg-white mt-sm-5">
            <label class=" border-bottom titulo" style="margin-bottom: 10px;">¿Cuánto dinero querés enviar?</label>
            <div class="imput-dinero">
                <label class="label" for="dinero">
                    <span class="span-txt">$0.00</span>
                    <input  class="input" type="number" id="dinero" placeholder="$0.00">
                    
                </label>
            </div>
        </div>
    <!-- concepto -->
        <div class="wrapper bg-white mt-sm-5">
            <label class=" border-bottom titulo" style="margin-bottom: 10px;">Concepto</label>
           
            <div class="dropdown listaCuenta">
                <select name="mov" id="mov" class="bg-light" class="btn-mov" style="background-color: #591E4A; color:white">
                    <option value="varios" selected>Varios</option>
                    <option value="alquiler" selected>Alquileres</option>
                    <option value="cuota" selected>Cuota</option>
                    <option value="expensas" selected>Expensas</option>
                    <option value="factura" selected>Factura</option>
                    <option value="prestamo" selected>Prestamo</option>
                </select>
            </div>
            
        </div>
        <!-- mensaje -->
        <div class="wrapper bg-white mt-sm-5">
            <label class=" border-bottom titulo" style="margin-bottom: 30px;">
                Mensaje (opcional)
            </label>
            <div class="imput-mensaje">
                <label class="label" for="mensaje">
                    <span class="span-txt">Mensaje</span>
                    <input  class="input" type="text" id="mensaje" placeholder="Mensaje">
                    
                </label>
            </div>
        </div>
        
         <button class="btn-block btn-color"
            routerLink="/paginaprincipal/inicio" style="float: right;margin-right: 140px;margin-bottom: 20px;width: 200px;">Transferir</button>
        
    </div>
    
</body>