<!-- Modal -->
<div class="modal fade" data-backdrop="false" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Compartiendo CA $</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Hola!</h5>
            <h5>Te envío los datos de mi Caja Ahorro pesos Pipay</h5>
            <h6>Número de cuenta</h6>
            <p>54985623898</p>
            <h6>CBU</h6>
            <p>000088888869865</p>
            <h6>DNI</h6>
            <p>42828186</p>
            <h6>ALIAS</h6>
            <p>ABRIL.CHARCO.METRO</p>
        </div>
        <div class="modal-footer">
            <label for="email">Email</label>
            <input type="email">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Enviar
                Datos</button>
        </div>
    </div>
</div>
</div>
