
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Compartiendo CA $</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5>Hola!</h5>
          <p>Te envío los datos de mi Caja Ahorro pesos Pipay.</p>
          <h5>Número de cuenta</h5>
          <p>4017421-1 355-1</p>
          <h5>CBU</h5>
          <p>00703558 30004017421114</p>
          <h5>DNI</h5>
          <p>42828186</p>
          <h5>Alias de CBU</h5>
          <p>ABRIL.CHARCO.METRO</p>
        </div>
        <div class="modal-footer">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
          <button type="button" class="btn btn-primary">Enviar Datos</button>
        </div>
      </div>
    </div>
  </div>

<div class="container-fluid inicio home-section">
    <h1 class="tit-inicio">Inicio</h1>
    <div class="ctas text">
        <p class="ppal">Tu cuenta principal</p>
        <div class="cta-ppal">
            <div class="contenido">
                <div class="logo-ppal">
                    <p class="nombre-ppal">CA$</p>
                </div>
                <p class="money-ppal">$50.000,00</p>

                <p class="caja-ppal">Caja Ahorro Pesos</p>
                <a href="" class="datos">Ver detalle</a>
                <button type="button" class="btn datos2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Compartir Datos
                  </button>
            </div>
        </div>
        <p class="otras-ctas">Tus otras cuentas</p>
        <div class="cta-dolares">
            <div class="logo-dol">
                <p class="nombre-dol">U$D</p>
            </div>
            <p class="money-dol">U$D 365,68</p>
            <p class="caja-dol">Caja Ahorro Dolares</p>
            <a href="" class="datos-dol">Ver detalle</a>
            <br>
            <button type="button" class="btn datos-dol" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Compartir Datos
              </button>
        </div>

        <div class="cta-ctu">
            <div class="logo-ctu">
                <p class="nombre-ctu">CTU</p>
            </div>
            <p class="money-ctu">CTU 65</p>
            <p class="caja-ctu">Caja Ahorro Criptomoneda</p>
            <a href="" class="datos-ctu">Ver detalle</a>
            <br>
            <button type="button" class="btn datos-ctu" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Compartir Datos
              </button>
        </div>
    </div>
    <div class="list-mov text">
        <button class="btn btn-outline-secondary dropdown-toggle btn-mov" type="button" data-bs-toggle="dropdown"
            aria-expanded="false">Todos los movimientos</button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Egresos de dinero</a></li>
            <li><a class="dropdown-item" href="#">Ingresos de dinero</a></li>
        </ul>
        <table class="table">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descipcion</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
                <tr>
                    <td>12/07/2021</td>
                    <td>Extraccion Cajero</td>
                    <td>-$2.000,00</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>