<div class="container-fluid probando">
    <h1 class="tit-inicio">Inicio</h1>
    <p class="ppal">Tu cuenta principal</p>
    <div class="cta-ppal">
        <div class="logo-ppal">
            <p class="nombre-ppal">CA$</p>
        </div>
        <p class="money-ppal">$50.000,00</p>

        <p class="caja-ppal">Caja Ahorro Pesos</p>
        <a href="" class="datos">Ver detalle</a>
        <a href="" class="datos2">Compartir Datos</a>

    </div>
    <p class="otras-ctas">Tus otras cuentas</p>
    <div class="cta-dolares">
        <div class="logo-dol">
            <p class="nombre-dol">U$D</p>
        </div>
        <p class="money-dol">U$D 365,68</p>
        <p class="caja-dol">Caja Ahorro Dolares</p>
        <a href="" class="datos-dol">Ver detalle</a>
        <br>
        <a href="" class="datos-dol">Compartir Datos</a>
    </div>

    <div class="cta-ctu">
        <div class="logo-ctu">
            <p class="nombre-ctu">CTU</p>
        </div>
        <p class="money-ctu">CTU 65</p>
        <p class="caja-ctu">Caja Ahorro Criptomoneda</p>
        <a href="" class="datos-ctu">Ver detalle</a>
        <br>
        <a href="" class="datos-ctu">Compartir Datos</a>
    </div>

    <div class="list-mov">
        
    </div>
</div>